div {
	background-color: blue;
	height: 200px;
	width: 150px;
	margin: 10px;
	float: left;
}
body {
	background-color: red;
}
@media screen and (max-width: 420px){
	div {
		background-color: yellow;
		width: 100%;
	}
}